
@media(max-width: 600px) {
    
    // navbar media queries
   nav .container {
       display: block;
       margin: auto;
       align-items: center;
       justify-content: center;

   }

   nav .container ul {
       display: block;
   

    }

   nav .container ul li:hover ul {
       width: 100%;
       position: relative;
   } 

}
